@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Salty Popcorn Movie Reviews!!! </h1>
    <p class="lead">The ultimate retreat for film lovers!</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Add a Review!</h2>
        <p>
            If you know a sound film that thinks it deserves a review, or maybe a film that made you fall asleep,
            drop a line for the movie commuinity here!
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Add Review &raquo; </a></p>
    </div>
    <div class="col-md-4">
        <h2>Latest Movies</h2>
        <p>Just in case you turned up late for your cinema experiance last time!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Latest Movies &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Popular Movies</h2>
        <p>This page is for any of you hardcore movie fanatics out there!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Popular Movies &raquo;</a></p>
    </div>
</div>